PORT = 3000
CORS_ORIGIN = *

MONGODB_USER_NAME = 
MONGODB_USER_PASS = 

MONGO_URI = "mongodb+srv://{DB_USER_NAME}:{DB_USER_PASS}@cluster0.3haht0l.mongodb.net"

ACCESS_TOKEN_SECRET=YOUR-RANDOM-SECRET-STRING
ACCESS_TOKEN_EXPIRY = 1d

REFRESH_TOKEN_SECRET=YOUR-RANDOM-SECRET-STRING
REFRESH_TOKEN_EXPIRY = 10d

CLOUDINARY_CLOUD_NAME = 'sample', 
CLOUDINARY_API_KEY = '874837483274837', 
CLOUDINARY_API_SECRET = 'a676b67565c6767a6767d6767f676fe1'